@font-face {
  font-family: "Suisse Int'l";
  font-weight: 400;
  font-display: swap;
  src: url("https://restream.io/fonts/fonts/SuisseIntl-Regular-WebM.woff2")
    format("woff2");
}

@font-face {
  font-family: "Suisse Int'l";
  font-weight: 500;
  font-display: swap;
  src: url("https://restream.io/fonts/fonts/SuisseIntl-Medium-WebM.woff2")
    format("woff2");
}

:root {
  --color-bg-primary: rgba(255, 255, 255, 0.1);
  --color-bg-primary-hover: rgba(255, 255, 255, 0.3);
  --color-bg-secondary: #1c1c1f;
  --color-bg-tertiary: #232326;
  --color-bg-quaternary: #28282c;

  --color-border-primary: rgba(255, 255, 255, 0.1);
  --color-border-secondary: rgba(255, 255, 255, 0.15);
  --color-border-tertiary: #3e3e44;

  --color-text-primary: #fff;
  --color-text-secondary: #d0d6e0;
  --color-text-tertiary: #8a8f98;
  --color-text-quaternary: #62666d;

  --color-link-primary: #828fff;
  --color-link-hover: #fff;

  --color-brand-bg: #5e6ad2;
  --color-brand-text: #fff;

  --color-selection-bg: #474747;
  --color-selection-text: #fff;
  --color-selection-dim: rgba(255, 255, 255, 0.2);

  --focus-ring-color: rgba(255, 255, 255, 0.4);

  --color-overlay-dim-rgb: 255, 255, 255;
  --color-overlay-primary: rgba(0, 0, 0, 0.4);

  --color-alpha: 255;

  /* Ashby CSS variables that we override */
  --fontFamily: "Suisse Int'l", system-ui, "Roboto", "Oxygen-Sans", "Ubuntu",
    "Cantarell", "Helvetica Neue", sans-serif;
  --fontWeightNormal: 400;
  --fontWeightLightBold: 400;
  --fontWeightMediumBold: 500;
  --fontWeightHeavyBold: 660;

  --fontSizeSmall: 13px;
  --fontSizeNormal: 14px;
  --fontSizeLarge: 16px;
  --fontSizeXlarge: 18px;
  --fontSizeXxlarge: 20px;
  --fontSizeXxxlarge: 24px;
  --fontSizeXxxxlarge: 32px;

  --borderRadiusContainer: 8px;
  --borderRadiusControl: 8px;
  --borderRadiusButton: 9999px;
  --borderRadiusCircle: 9999px;

  --borderWidthNormal: 1px;
  --borderWidthBold: 1px;
  --borderWidthHeavy: 1px;

  --border-color: rgba(255, 255, 255, 0.1);
  --border-color-hover: #5381ff;
  --color-text-placeholder: #6e7687;

  --colorAppBackground: var(--color-bg-primary);
  --colorNeutral800: var(--color-text-primary);
  --colorNeutral700: var(--color-text-secodary);
  --colorNeutral600: var(--color-text-tertiary);
  --colorNeutral500: var(--color-text-quaternary);
  --colorNeutral400: var(--color-border-primary);
  --colorNeutral300: var(--color-bg-quaternary);
  --colorNeutral200: var(--color-bg-tertiary);
  --colorNeutral100: var(--color-bg-secondary);
  --colorNeutral000: #1a1a24;

  --colorPrimary000: transparent;
  --colorPrimary600: #5e6ad2;
  --colorPrimary900: #828fff;

  --colorSecondary900: var(--focus-ring-color);

  --label: var(--color-text-primary);
  --label-muted: var(--color-text-tertiary);
  --brand: #97a3ff;
  --brand-highlight: #828fff;
  --border: var(--color-border-primary);
  --bg: rgba(255, 255, 255, 0.04);
  --bg-hover: var(--color-bg-tertiary);
  --placeholder: var(--color-text-quaternary);
  --selection: var(--color-selection-bg);
  --icon-color: var(--brand);
}

/**
 * Global styles
 */

::selection {
  color: var(--label);
  background: var(--selection);
}

html,
body,
#root {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--label);
}

body {
  background: transparent;
}

#root {
  padding: 32px;
  background: var(--color-bg-primary);
  border-radius: var(--borderRadiusContainer);
}

button:focus-visible:focus-visible {
  outline-offset: 0;
}

.ashby-application-form-container button svg {
  fill: currentColor;
}

/**
 * Form styles
 */

/* A container for the application form. */
.ashby-application-form-container {
  background: none;
  box-shadow: none;
  padding: 0;
}

/* A single section on the Ashby application form. All questions will be wrapped in sections, though the default section may not have a title. */
.ashby-application-form-section-container {
}

/* The header for an application form section, possibly containing a title and description. */
.ashby-application-form-section-header {
  border-color: var(--border);
  margin-bottom: 32px;
}

/* The description for an application form section. May not exist if no description was specified. */
.ashby-application-form-section-header-description {
  color: var(--label-muted);
}

/* The title for an application form section. May not exist for the default section. */
.ashby-application-form-section-header-title {
  color: var(--label);
}

/* A container for the label and input on an application form. */
.ashby-application-form-field-entry {
  margin-bottom: 32px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[role="combobox"],
.ashby-application-form-field-entry textarea {
  cursor: text;
  font-weight: 400;
  color: var(--label);
  border: 1px solid var(--border);
  background: var(--bg);
  padding: 8px 16px;
  backdrop-filter: blur(7.5px);
  outline: none !important;
  font-feature-settings: "ss05" on;
  font-size: 14px;
  line-height: 20px;

  &:hover {
    border-color: var(--border-color-hover);
  }
}

.ashby-application-form-field-entry input[type="text"]::placeholder,
.ashby-application-form-field-entry input[type="email"]::placeholder,
.ashby-application-form-field-entry input[type="tel"]::placeholder,
.ashby-application-form-field-entry textarea::placeholder {
  color: var(--color-text-placeholder);
}

.ashby-application-form-field-entry input[type="text"]:focus,
.ashby-application-form-field-entry input[type="email"]:focus,
.ashby-application-form-field-entry input[type="tel"]:focus,
.ashby-application-form-field-entry textarea:focus {
  border-color: var(--border-color-hover);
}

/* Upload file styling */
.ashby-application-form-field-entry
  input[type="file"]
  ~ div[class*="_file"]
  > p[class*="_name"] {
  background: none;
}

.ashby-application-form-field-entry
  input[type="file"]
  ~ div[class*="_instructions"]
  > button {
  background-color: var(--color-bg-primary);
  border-color: var(--color-border-secondary);
  border-radius: var(--borderRadiusControl);
  backdrop-filter: blur(7.5px);
  padding: 8px;
  color: var(--color-text-primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  box-shadow: none;

  &:hover {
    background-color: var(--color-bg-primary-hover);
    border-color: var(--color-border-secondary);
    box-shadow: none;
    color: var(--color-text-primary);

    & svg {
      fill: #fff;
    }
  }
}

/* The description of each question on an application form. Will only show if a description is specified. */
.ashby-application-form-question-description {
  color: var(--label-muted);
  margin-top: -8px;
  margin-bottom: 12px;
}

/* The title of each question on an application form. */
.ashby-application-form-question-title {
  font-size: 14px;
  font-weight: 400;
  color: var(--label);
  margin-bottom: 12px;
}

.ashby-application-form-question-title::after {
  margin-left: 2px;
  color: var(--brand);
}

/* The application submission button. Will have loading and hover states that should be tested. */
.ashby-application-form-submit-button {
  margin-top: 24px;
  background: var(--brand);
  color: var(--label);
  border-radius: 8px;
  background: linear-gradient(180deg, #6e71ff 0%, #5237ff 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.21) inset;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  border: none !important;
  position: relative;
  padding: 8px;

  & > * {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: #fff;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  &:hover {
    background: linear-gradient(180deg, #6e71ff 0%, #5237ff 100%);
    color: #fff;

    &:after {
      opacity: 0.12;
    }
  }

  & svg {
    display: none;
  }
}

.ashby-application-form-submit-button svg {
  fill: currentColor !important;
}

.loadingSvg path {
  stroke: currentColor;
}

.loadingSvg circle {
  display: none;
}

/* A container for the success message */
.ashby-application-form-success-container {
  background: none;
  color: var(--color-text-tertiary);
  margin: 0;
  padding: 0;
}

/* A container for the failure message */
.ashby-application-form-failure-container {
  margin: 0;
}

/* Form errors container */
/* No named class selector for this one… */
div[role="alert"][aria-live="assertive"][data-highlight="negative"] {
  color: var(--label);
}

/* Autofill resume pane */
.ashby-application-form-autofill-pane {
  margin-bottom: var(--spacingLarge);
  margin-top: 0;
  background: transparent;
}

.ashby-application-form-autofill-input-root {
  background: transparent;
  border: var(--borderWidthNormal) solid var(--color-border-primary);
}

.ashby-application-form-autofill-input-base-layer {
  svg {
    fill: var(--icon-color);
  }

  button {
    background-color: var(--color-bg-primary);
    border-color: var(--color-border-secondary);
    border-radius: var(--borderRadiusControl);
    backdrop-filter: blur(7.5px);
    padding: 8px;
    color: var(--color-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    box-shadow: none;

    &:hover {
      background-color: var(--color-bg-primary-hover);
      border-color: var(--color-border-secondary);
      box-shadow: none;
      color: var(--color-text-primary);
    }
  }
}

.ashby-application-form-autofill-input-drag-layer,
.ashby-application-form-autofill-input-pending-layer:not([data-highlight]) {
  background: transparent;
}

.ashby-application-form-autofill-input-pending-layer[data-highlight="positive"] {
  background: var(--colorPrimary600);
  color: var(--colorNeutral500);
}

/* Hide re-captcha */
div[class*="_resultContainer"] {
  border-color: var(--color-border-primary);
}

/* Hide re-captcha */
p[class*="_recaptchaLegal"] {
  display: none !important;
}

/* Hide Powered by Ashby footer */
#root footer[class*="_embedded"] {
  display: none !important;
}
